[maxscale]
threads=2

[Splitter-Service]
type=service
router=readwritesplit
servers=server1,server2,server3
user=maxuser
password=maxpwd
master_failure_mode=fail_on_write

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=mariadbclient
address=127.0.0.1
port=3306

[server1]
type=server
server_id=1
address=127.0.0.1
port=33061
protocol=MariaDBBackend

[server2]
type=server
server_id=2
address=127.0.0.1
port=33062
protocol=MariaDBBackend

[server3]
type=server
server_id=3
address=127.0.0.1
port=33063
protocol=MariaDBBackend

[mdbmonitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3
user=maxuser
password=maxpwd
auto_failover=true
auto_rejoin=true

[CLI]
type=service
router=cli

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default